// Cores
$cor-fundo: #f5f6fa;
$cor-header: #182C61;
$cor-texto-claro: #fff;
$cor-botao: #44bd32;
$cor-botao-hover: #4cd137;

// Fontes
$fonte-principal: Roboto, sans-serif;

// Breakpoints para responsividade
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;